@import "../variables";

.header {
    width: 100%;
    height: 800px;
    background-image: url('../../assets/images/klas-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #000000;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .9;
    }

    & .Hwrap {
        width: 1150px;
        height: 420px;
        // background-color: antiquewhite;
        margin-bottom: 4rem;
        z-index: 99;
        position: relative;
        display: flex;
        align-items: center;

        & .Htext {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            max-width: 550px;
            color: #f5f5f5;
            // height: 420px;
            text-align: left;
            transform: scale(0.96);

            & h2 {
                font-size: 52.5px;
                line-height: 1.4;
            }

            & p {
                font-family: 'Poppins', sans-serif;
                font-size: 17px;
                line-height: 1.8;
                margin: 3.2rem 0;
                margin-top: -1.5rem;
            }

            & a {
                padding: 22.5px 30px;
                background-color: $EBlue;
                color: #f5f5f5;
                font-size: 15px;
                border-radius: 30px;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-align: center;
                font-weight: 500;
            }
        }

        & img {
            height: 500px;
            position: absolute;
            right: -550px;
            border-radius: 25px;
        }
    }
}

.features {
    height: 300px;
    width: 100%;
    // background-color: red;
    display: grid;
    place-items: center;
    position: relative;

    & .Fwrap {
        width: 950px;
        height: 270px;
        background-color: #fff;
        position: absolute;
        z-index: 99;
        top: -20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        border-radius: 30px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);

        & .F {
            width: 260px;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #2c2c2c;
            
            // border-left: 2px solid $EBlue;
            

            & .border {
                height: 60%;
                background-color: $EBlue;
                width: 3px;
                margin-bottom: 2rem;
                position: relative;
                display: grid;
                place-items: center;
                opacity: .8;
                

                & .circle {
                    width: 20px;
                    height: 20px;
                    border: 2px solid $EBlue;
                    z-index: 99;
                    position: absolute;
                    top: 0;
                    border-radius: 100%;
                    background-color: #f5f5f5;
                    display: grid;
                    place-items: center;

                        & .dot {
                        width: 8px;
                        height: 8px; 
                        border-radius: 100%;
                        background-color: $EBlue;
                        opacity: .8;
                    }
                }
            }

            & .Fright {
                transform: scale(0.95);
                // background-color: blue;
                text-align: left;
                height: 200px;
                width: 90%;
                
                 & svg {
               
                    height: 90px;
                    margin: 1rem auto;
                }

                p {
                    line-height: 1.5;
                    margin-top: .5rem;
                    font-size: .95rem;
                    padding: 0 1rem;
                    font-weight: 600;
                }
            }
           
        }
    }
}